/* 
      28.422rem/454.75px	A Visual Type Scale
      22.737rem/363.80px	A Visual Type Scale
      18.19rem/291.04px	A Visual Type Scale
      14.552rem/232.83px	A Visual Type Scale
      11.642rem/186.26px	A Visual Type Scale
      9.313rem/149.01px	A Visual Type Scale
      7.451rem/119.21px	A Visual Type Scale
      5.96rem/95.37px	A Visual Type Scale
      4.768rem/76.29px	A Visual Type Scale
      3.815rem/61.04px	A Visual Type Scale
      3.052rem/48.83px	A Visual Type Scale
      2.441rem/39.06px	A Visual Type Scale
      1.953rem/31.25px	A Visual Type Scale
      1.563rem/25.00px	A Visual Type Scale
      1.25rem/20.00px	A Visual Type Scale
      1rem/16.00px	A Visual Type Scale
      0.8rem/12.80px	A Visual Type Scale
      0.64rem/10.24px	A Visual Type Scale
      0.512rem/8.19px	A Visual Type Scale
      0.41rem/6.55px	A Visual Type Scale
      0.328rem/5.24px	A Visual Type Scale
      0.262rem/4.19px	A Visual Type Scale
      0.21rem/3.36px	A Visual Type Scale
      0.168rem/2.68px	A Visual Type Scale
      0.134rem/2.15px	A Visual Type Scale
      0.107rem/1.72px	A Visual Type Scale
      0.086rem/1.37px	A Visual Type Scale
      0.069rem/1.10px	A Visual Type Scale
      0.055rem/0.88px	A Visual Type Scale
      0.044rem/0.70px	A Visual Type Scale
      0.035rem/0.56px	A Visual Type Scale
      0.028rem/0.45px	A Visual Type Scale
      0.023rem/0.36px	A Visual Type Scale
      0.018rem/0.29px	A Visual Type Scale
      0.014rem/0.23px	A Visual Type Scale
      0.012rem/0.18px	A Visual Type Scale
      0.009rem/0.15px	A Visual Type Scale
      0.007rem/0.12px	A Visual Type Scale
      0.006rem/0.09px	A Visual Type Scale
      0.005rem/0.08px	A Visual Type Scale
      0.004rem/0.06px	A Visual Type Scale
      0.003rem/0.05px	A Visual Type Scale
      0.002rem/0.04px	A Visual Type Scale
      0.002rem/0.03px	A Visual Type Scale
      0.002rem/0.02px	A Visual Type Scale
      0.001rem/0.02px	A Visual Type Scale
      0.001rem/0.02px	A Visual Type Scale
      0.001rem/0.01px	A Visual Type Scale
      0.001rem/0.01px	A Visual Type Scale
      0.001rem/0.01px	A Visual Type Scale
*/

/* Common Settings Starts Here*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

:root {
  --primary-color: rgba(127, 95, 179);
  --secondary-color: #37363b;
  --tertiary-color: #4d58d7;
  --white-color: #fff;
  --black-color: #333333;
  --skin-color: #e0a0a3;
  --gray-color: #f2f2f2;
  --gradient-color: rgba(127, 95, 179, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color-primary {
  color: var(--primary-color);
}

.color-white {
  color: var(--white-color);
}

.color-black {
  color: var(--black-color);
}

.color-skin {
  color: var(--skin-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.bg-black {
  background-color: var(--black-color);
}

.bg-gray {
  background-color: var(--gray-color);
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.decoration-none {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.h1 {
  font-size: 5.96rem;
}

.h3 {
  font-size: 1.953rem;
}

.h4 {
  font-size: 1.563rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 90rem;
  padding: 3.052rem 11.642rem 3.052rem 11.642rem;
}

.flex {
  display: flex;
}

.flex-vertical-center {
  align-items: center;
}

.flex-horizontal-center {
  justify-content: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column-direction {
  flex-direction: column;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.common-margin {
  margin-top: 3.96rem;
}

/* Common Settings Ends Here*/

/* Banner Section Starts Here*/

.banner {
  background: linear-gradient(
      135deg,
      var(--gradient-color),
      var(--gradient-color)
    ),
    url("./images/banner.jpeg") no-repeat center center / cover;
  height: 100vh;
}

.banner_description::after {
  content: "";
  display: block;
  width: 5.96rem;
  height: 2.441rem;
  border-bottom: 1rem solid #fff;
}

.banner_title {
  line-height: 7rem;
  width: 66%;
  margin-bottom: -0.875rem;
}

.banner_description {
  margin-top: 0rem;
  line-height: 2.2rem;
  width: 66%;
}

/* Banner Section Ends Here*/

/* Build Something Funny Section Starts Here*/

.build-something-funny {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.25rem;
}

/* .build-something-funny__grid-items--title{

} */

.build-something-funny__grid-items--description {
  margin-top: 1rem;
}

.build-something-funny__grid-items--explanation {
  margin-top: 1.25rem;
  font-style: italic;
  font-weight: 300;
}

.build-something-funny__grid-items--article {
  padding: 0 1rem;
}

.build-something-funny__grid-items--read-more {
  margin-top: 1.563rem;
  border: 0.069rem solid var(--primary-color);
  padding: 0.64rem 2.563rem;
}

.build-something-funny__grid-items--read-more:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.build-something-funny__grid-items--wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1.25rem;
}

.build-something-funny__grid-items--sub-item__textual-wrapper {
  padding: 0 1.25rem;
}

.build-something-funny__grid-items-image,
.build-something-funny__grid-items--sub-item__image {
  object-fit: cover;
}

/* Build Something Funny Section Ends Here*/

/* Job description Section Starts Here*/

.job-description__flex-container {
  justify-content: space-between;
}

.job-description__flex-container--item {
  width: 12.5rem;
  line-height: 1.563rem;
}

.build-something-funny__grid-items--textual {
  line-height: 1.5rem;
  font-weight: 300;
}

.job-description__flex-container--item__image {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.job-description__flex-container--item__image__icon {
  font-size: 3.5rem;
}

.job-description__flex-container--item__description {
  margin-top: 1.25rem;
}
/* Job description Section Ends Here*/

/* Get to know Section Starts Here*/
.get-to-know__contents--title {
  margin-bottom: -1.875rem;
}

.get-to-know__contents--read-more {
  margin-top: 1rem;
  border: 0.069rem solid var(--white-color);
  padding: 0.64rem 2.563rem;
}

.get-to-know__contents--read-more:hover {
  background-color: var(--white-color);
  color: var(--tertiary-color);
}

/* Get to know Section Ends Here*/

/* Have Questions Section Starts Here*/

.have-questions__form--field {
  padding: 0.8rem;
  border: 0.0625rem solid var(--white-color);
  background-color: transparent;
  width: 50%;
}

.have-questions__form--field:not(:first-child) {
  margin-top: 1rem;
}

/* Have Questions Section Ends Here*/

/* Last Works Section Starts Here*/

.last-works__grid--container {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(21.875rem, auto);
  grid-gap: 1rem;
}

.last-works__grid--container--items-image {
  object-fit: cover;
}

/* Last Works Section Ends Here*/

/* Footer Starts Here*/

/* footer {
  padding: 1.953rem 0;
} */

/* Footer Ends Here  */

@media only screen and (max-width: 1199px) {
  .h1 {
    font-size: 3.052rem;
  }

  .h3 {
    font-size: 1.563rem;
  }

  .h4 {
    font-size: 1.25rem;
  }

  .h5 {
    font-size: 1rem;
  }

  .h6 {
    font-size: 0.8rem;
  }

  .container {
    padding: 3.052rem 9.313rem 3.052rem 9.313rem;
  }

  .banner_title {
    line-height: 4.5rem;
    width: 10%;
  }

  .banner_description {
    margin-top: 2rem;
    line-height: 1.6rem;
    width: 66%;
  }

  .build-something-funny__grid-items--textual {
    line-height: 1.3rem;
  }

  .job-description__flex-container--item__image {
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .job-description__flex-container--item__image__icon {
    font-size: 2rem;
  }

  .get-to-know__contents--title {
    margin-bottom: 0;
  }

  .get-to-know__contents--read-more {
    margin-top: 1rem;
    border: 0.069rem solid var(--white-color);
    padding: 0.64rem 2.563rem;
  }

  .last-works__grid--container {
    grid-auto-rows: minmax(18.75rem, auto);
  }
}

@media only screen and (max-width: 991px) {
  .h1 {
    font-size: 2.441rem;
  }

  .h3 {
    font-size: 1.25rem;
  }

  .h4 {
    font-size: 1rem;
  }

  .h5 {
    font-size: 0.8rem;
  }

  .h6 {
    font-size: 0.6rem;
  }

  .container {
    padding: 2.441rem 7.451rem 2.441rem 7.451rem;
  }

  .banner_title {
    line-height: 3.3rem;
    width: 10%;
  }

  .banner_description {
    margin-top: 2rem;
    line-height: 1.5rem;
    width: 66%;
  }

  .common-margin {
    margin-top: 2.6rem;
  }

  .build-something-funny__grid-items--textual {
    line-height: 1rem;
  }

  .last-works__grid--container {
    grid-auto-rows: minmax(15.625rem, auto);
  }
}

@media only screen and (max-width: 767px) {
  .h1 {
    font-size: 1.563rem;
  }

  .h3 {
    font-size: 1rem;
  }

  .h4 {
    font-size: 0.8rem;
  }

  .h5 {
    font-size: 0.6rem;
  }

  .h6 {
    font-size: 0.4rem;
  }

  .container {
    padding: 1.56rem 4rem 1.56rem 4rem;
  }

  .banner_title {
    line-height: 2.2rem;
    width: 35%;
  }

  .banner_description {
    margin-top: 1.7rem;
    line-height: 1rem;
    width: 66%;
  }

  .banner_description::after {
    width: 5.96rem;
    height: 1rem;
    border-bottom: 0.7rem solid #fff;
  }

  .build-something-funny__grid-items--textual {
    line-height: 0.8rem;
  }

  .have-questions__form--field {
    padding: 0.5rem;
    border: 0.0625rem solid var(--white-color);
    background-color: transparent;
    width: 60%;
  }
}

@media only screen and (max-width: 567px) {
  .h1 {
    font-size: 1.25rem;
  }

  .h3 {
    font-size: 0.8rem;
  }

  .h4 {
    font-size: 0.6rem;
  }

  .h5 {
    font-size: 0.4rem;
  }

  .h6 {
    font-size: 0.4rem;
  }

  .container {
    padding: 3.052rem;
  }

  .banner_title {
    line-height: 2rem;
    width: 70%;
  }

  .banner_description {
    width: 70%;
  }

  .banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .build-something-funny {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
  }

  .job-description__flex-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .job-description__flex-container--item__image {
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .job-description__flex-container--item__image__icon {
    font-size: 1rem;
  }

  .job-description__flex-container--item__description {
    margin-top: 0;
  }

  .last-works__grid--container {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(12.5rem, auto);
  }

  .have-questions__form--field {
    padding: 0.5rem;
    width: 100%;
  }
}

/*** uncss> filename: https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css ***/
.las {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.la-chalkboard:before {
  content: "\f51b";
}
.la-desktop:before {
  content: "\f108";
}
.la-palette:before {
  content: "\f53f";
}
.la-user-secret:before {
  content: "\f21b";
}
@font-face {
  font-family: "Line Awesome Brands";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/la-brands-400.eot);
  src: url(../fonts/la-brands-400.eot?#iefix) format("embedded-opentype"),
    url(../fonts/la-brands-400.woff2) format("woff2"),
    url(../fonts/la-brands-400.woff) format("woff"),
    url(../fonts/la-brands-400.ttf) format("truetype"),
    url(../fonts/la-brands-400.svg#lineawesome) format("svg");
}
@font-face {
  font-family: "Line Awesome Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/la-regular-400.eot);
  src: url(../fonts/la-regular-400.eot?#iefix) format("embedded-opentype"),
    url(../fonts/la-regular-400.woff2) format("woff2"),
    url(../fonts/la-regular-400.woff) format("woff"),
    url(../fonts/la-regular-400.ttf) format("truetype"),
    url(../fonts/la-regular-400.svg#lineawesome) format("svg");
}
@font-face {
  font-family: "Line Awesome Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(../fonts/la-solid-900.eot);
  src: url(../fonts/la-solid-900.eot?#iefix) format("embedded-opentype"),
    url(../fonts/la-solid-900.woff2) format("woff2"),
    url(../fonts/la-solid-900.woff) format("woff"),
    url(../fonts/la-solid-900.ttf) format("truetype"),
    url(../fonts/la-solid-900.svg#lineawesome) format("svg");
}
.las {
  font-family: "Line Awesome Free";
  font-weight: 900;
}

