/* 
      28.422rem/454.75px	A Visual Type Scale
      22.737rem/363.80px	A Visual Type Scale
      18.19rem/291.04px	A Visual Type Scale
      14.552rem/232.83px	A Visual Type Scale
      11.642rem/186.26px	A Visual Type Scale
      9.313rem/149.01px	A Visual Type Scale
      7.451rem/119.21px	A Visual Type Scale
      5.96rem/95.37px	A Visual Type Scale
      4.768rem/76.29px	A Visual Type Scale
      3.815rem/61.04px	A Visual Type Scale
      3.052rem/48.83px	A Visual Type Scale
      2.441rem/39.06px	A Visual Type Scale
      1.953rem/31.25px	A Visual Type Scale
      1.563rem/25.00px	A Visual Type Scale
      1.25rem/20.00px	A Visual Type Scale
      1rem/16.00px	A Visual Type Scale
      0.8rem/12.80px	A Visual Type Scale
      0.64rem/10.24px	A Visual Type Scale
      0.512rem/8.19px	A Visual Type Scale
      0.41rem/6.55px	A Visual Type Scale
      0.328rem/5.24px	A Visual Type Scale
      0.262rem/4.19px	A Visual Type Scale
      0.21rem/3.36px	A Visual Type Scale
      0.168rem/2.68px	A Visual Type Scale
      0.134rem/2.15px	A Visual Type Scale
      0.107rem/1.72px	A Visual Type Scale
      0.086rem/1.37px	A Visual Type Scale
      0.069rem/1.10px	A Visual Type Scale
      0.055rem/0.88px	A Visual Type Scale
      0.044rem/0.70px	A Visual Type Scale
      0.035rem/0.56px	A Visual Type Scale
      0.028rem/0.45px	A Visual Type Scale
      0.023rem/0.36px	A Visual Type Scale
      0.018rem/0.29px	A Visual Type Scale
      0.014rem/0.23px	A Visual Type Scale
      0.012rem/0.18px	A Visual Type Scale
      0.009rem/0.15px	A Visual Type Scale
      0.007rem/0.12px	A Visual Type Scale
      0.006rem/0.09px	A Visual Type Scale
      0.005rem/0.08px	A Visual Type Scale
      0.004rem/0.06px	A Visual Type Scale
      0.003rem/0.05px	A Visual Type Scale
      0.002rem/0.04px	A Visual Type Scale
      0.002rem/0.03px	A Visual Type Scale
      0.002rem/0.02px	A Visual Type Scale
      0.001rem/0.02px	A Visual Type Scale
      0.001rem/0.02px	A Visual Type Scale
      0.001rem/0.01px	A Visual Type Scale
      0.001rem/0.01px	A Visual Type Scale
      0.001rem/0.01px	A Visual Type Scale
*/

:root {
  --primary-color: rgba(127, 95, 179);
  --secondary-color: #37363b;
  --color-black: #333333;
  --tertiary-color: #4d58d7;
  --color-white: #fff;
  --color-skin: #e0a0a3;
  --gradient-color: rgba(127, 95, 179, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--color-white);
}

.banner {
  position: relative;
  background: linear-gradient(
      135deg,
      var(--gradient-color),
      var(--gradient-color)
    ),
    url("./images/banner.jpeg") no-repeat center center / cover;
  height: 82vh;
}

.banner_content {
  margin: 0 11.642rem 0 11.642rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.banner_title {
  font-size: 5.2rem;
  display: inline-block;
  line-height: 5.96rem;
  letter-spacing: 0.001rem;
  width: 60%;
}

.banner_description {
  font-size: 1.25rem;
  display: inline-block;
  line-height: 1.563rem;
  width: 50%;
}

.banner_description::after {
  content: "";
  display: block;
  width: 5.96rem;
  height: 2.441rem;
  border-bottom: 1rem solid #fff;
}

.section-padding {
  padding: 4.768rem 11.642rem 4.768rem 11.642rem;
}

.common-margins {
  padding: 3.052rem 0 0 0;
}

.common-size {
  font-size: 1.953rem;
}

.center {
  display: block;
  text-align: center;
}

.job-description {
  background-color: var(--secondary-color);
}

.job-description__flex-container {
  display: flex;
  justify-content: space-between;
}

.job-description__flex-container--item {
  width: 12.5rem;
  text-align: center;
}

.job-description__flex-container--item__image {
  margin: 0 auto;
  width: 4.768rem;
  height: 4.768rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: relative;
}

.job-description__flex-container--item__image__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

.job-description__flex-container--item__description {
  margin-top: 1.25rem;
}

.get-to-know {
  background-color: var(--tertiary-color);
}

.get-to-know__contents--read-more {
  margin-top: 1.563rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  border: 0.069rem solid var(--color-white);
  padding: 0.64rem 1.563rem;
  cursor: pointer;
}

.get-to-know__contents--read-more:hover {
  background-color: var(--color-white);
  color: var(--tertiary-color);
}

.have-questions {
  background-color: var(--secondary-color);
}

.have-questions__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.have-questions__form--field {
  margin-top: 1rem;
  padding: 0.8rem;
  border: 1px solid var(--color-white);
  background-color: transparent;
  width: 50%;
}

.have-questions__form--submit {
}

/* .have-questions__form--field:not(:last-child) {
  margin-bottom: 1.563rem;
} */

footer {
  background-color: var(--color-black);
  padding: 1.953rem 0;
}

.footer--link {
  color: var(--color-skin);
}
