/* 
      28.422rem/454.75px	A Visual Type Scale
      22.737rem/363.80px	A Visual Type Scale
      18.19rem/291.04px	A Visual Type Scale
      14.552rem/232.83px	A Visual Type Scale
      11.642rem/186.26px	A Visual Type Scale
      9.313rem/149.01px	A Visual Type Scale
      7.451rem/119.21px	A Visual Type Scale
      5.96rem/95.37px	A Visual Type Scale
      4.768rem/76.29px	A Visual Type Scale
      3.815rem/61.04px	A Visual Type Scale
      3.052rem/48.83px	A Visual Type Scale
      2.441rem/39.06px	A Visual Type Scale
      1.953rem/31.25px	A Visual Type Scale
      1.563rem/25.00px	A Visual Type Scale
      1.25rem/20.00px	A Visual Type Scale
      1rem/16.00px	A Visual Type Scale
      0.8rem/12.80px	A Visual Type Scale
      0.64rem/10.24px	A Visual Type Scale
      0.512rem/8.19px	A Visual Type Scale
      0.41rem/6.55px	A Visual Type Scale
      0.328rem/5.24px	A Visual Type Scale
      0.262rem/4.19px	A Visual Type Scale
      0.21rem/3.36px	A Visual Type Scale
      0.168rem/2.68px	A Visual Type Scale
      0.134rem/2.15px	A Visual Type Scale
      0.107rem/1.72px	A Visual Type Scale
      0.086rem/1.37px	A Visual Type Scale
      0.069rem/1.10px	A Visual Type Scale
      0.055rem/0.88px	A Visual Type Scale
      0.044rem/0.70px	A Visual Type Scale
      0.035rem/0.56px	A Visual Type Scale
      0.028rem/0.45px	A Visual Type Scale
      0.023rem/0.36px	A Visual Type Scale
      0.018rem/0.29px	A Visual Type Scale
      0.014rem/0.23px	A Visual Type Scale
      0.012rem/0.18px	A Visual Type Scale
      0.009rem/0.15px	A Visual Type Scale
      0.007rem/0.12px	A Visual Type Scale
      0.006rem/0.09px	A Visual Type Scale
*/

:root {
  --gradient-color: rgba(100, 46, 236, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.banner {
  position: relative;
  background: linear-gradient(
      135deg,
      var(--gradient-color),
      var(--gradient-color)
    ),
    url("./images/banner.jpeg") no-repeat center center / cover;
  height: 90vh;
}

.banner_content {
  margin: 0 11.642rem 0 11.642rem;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.banner_title {
  font-size: 5.96rem;
  background-color: antiquewhite;
  display: inline-block;
  line-height: 5.96rem;
  letter-spacing: 0.006rem;
  width: 65%;
}

.banner_description {
  font-size: 1.25rem;
  display: inline-block;
  width: 65%;
}

.banner_description::after {
  content: "";
  display: block;
  width: 5.96rem;
  height: 2.441rem;
  border-bottom: 1rem solid #fff;
}
